* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #70aacc;
    font-family: Arial, sans-serif;
}

.dino {
    transform: rotate(33deg);
}

@keyframes introAnimate {
    from {
    background-color: #333333;
    }
    to {
    background-color: white;
       }
    }

#oneState {
    animation-name: introAnimate;
    animation-delay: 1s;
    animation-direction: forwards;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in;
    }
#oneState {
    animation: introAnimate 1s forwards 10s forwards
    infinite running ease-in;
    }
        
    